* {
  margin: 0px;
  padding: 0px;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background: #ffffff;
}

.site-header.scroll {
  background: white;
}

.site-header {
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  padding: 20px 20px;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  z-index: 3;
}
@media screen and (max-width: 1100px) {
  .site-header {
    padding: 10px 20px;
  }
}
.site-header .site-title img {
  width: 10%;
  height: auto;
}
.site-header .hamburger-menu {
  margin-right: 40px;
  margin-top: 30px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .site-header .hamburger-menu {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .site-header .hamburger-menu {
    margin-top: 5px;
  }
}
@media screen and (max-width: 560px) {
  .site-header .hamburger-menu {
    margin-top: 5px;
    height: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .site-header .hamburger-menu {
    margin-top: 10px;
    height: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .site-header .hamburger-menu svg {
    height: 1.3em;
  }
}
.site-header .menu-nav {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .site-header .menu-nav {
    display: none;
  }
}
.site-header .menu-nav .nav-active {
  transform: translateX(0);
}
.site-header .menu-nav .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .menu-nav .menu-item .menu {
  list-style: none;
  flex: 1;
  text-wrap: nowrap;
  margin-left: 5px;
  padding-right: 30px;
}
.site-header .menu-nav .menu-item .menu a {
  position: relative;
  text-decoration: none;
  color: #000;
}
.site-header .menu-nav .menu-item .menu a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #4276ba;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.site-header .menu-nav .menu-item .menu a:hover::before {
  visibility: visible;
  width: 100%;
}

.home .home-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  padding-top: 56.25%;
}
.home .home-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .home-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
@media screen and (max-width: 400px) {
  .home .home-img .overlay {
    margin-top: 30px;
  }
}
.home .home-img .overlay p {
  background-color: white;
  padding: 10px;
  font-size: 2rem;
  text-align: center;
  max-width: 100%;
  text-wrap: nowrap;
}
@media screen and (max-width: 768px) {
  .home .home-img .overlay p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 560px) {
  .home .home-img .overlay p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .home .home-img .overlay p {
    font-size: 1.2rem;
  }
}

.gallary {
  width: 100%;
}
.gallary .gallary-title {
  margin: 50px 0;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .gallary .gallary-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 400px) {
  .gallary .gallary-title {
    font-size: 10px;
  }
}
.gallary .container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .gallary .container {
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
  }
}
.gallary .container .container-item {
  margin: 0 auto;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallary .container .container-item {
    width: calc(30% - 20px);
    margin: 10px;
  }
}
.gallary .container .container-item .container-item-img {
  width: 100%;
  display: flex;
  justify-content: center;
}
.gallary .container .container-item .container-item-img img {
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}
@media screen and (max-width: 768px) {
  .gallary .container .container-item .container-item-img img {
    max-width: 80%;
  }
}
.gallary .container .container-item .container-item-text {
  width: 100%;
}
.gallary .container .container-item .container-item-text .title {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  height: 100%;
}
.gallary .container .container-item .container-item-text .description {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
  margin-bottom: 50px;
}
@media screen and (max-width: 560px) {
  .gallary .container .container-item .container-item-text .description {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .gallary .container .container-item .container-item-text .description {
    font-size: 0.8rem;
  }
}

.company-section {
  height: 500px;
  background-color: rgb(245, 250, 252);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .company-section {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .company-section .company-text,
  .company-section .company-graph {
    width: 100%;
    margin-right: 0;
  }
}
.company-section .company-text {
  width: 50%;
  margin-right: 5%;
  inline-size: 400px;
}
@media screen and (max-width: 768px) {
  .company-section .company-text {
    margin-top: 140px;
    text-align: center;
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .company-section .company-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .company-section .company-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .company-section .company-text h2 {
    margin-bottom: 20px;
  }
}
.company-section .company-graph {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .company-section .company-graph {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .company-section .company-graph {
    width: 90%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .company-section .company-graph {
    width: 90%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .company-section .company-graph h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}

.inquiry-form {
  height: 450px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.inquiry-form .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
@media screen and (max-width: 768px) {
  .inquiry-form .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .inquiry-form .container .contact-text,
  .inquiry-form .container .form {
    width: 100%;
    margin-right: 0;
  }
}
.inquiry-form .container .contact-text {
  width: 50%;
  margin-right: 5%;
  inline-size: 500px;
}
.inquiry-form .container .contact-text h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}
.inquiry-form .container .contact-text p {
  color: #666;
}
@media screen and (max-width: 768px) {
  .inquiry-form .container .contact-text {
    text-align: center;
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .inquiry-form .container .contact-text {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .inquiry-form .container .contact-text {
    font-size: 0.8rem;
  }
}
.inquiry-form .container .form {
  width: 30%;
  padding: 40px 30px 10px 30px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .inquiry-form .container .form {
    margin-top: 50px;
    margin-bottom: 100px;
    width: 80%;
  }
}
@media screen and (max-width: 560px) {
  .inquiry-form .container .form {
    width: 90%;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .inquiry-form .container .form {
    width: 90%;
    font-size: 0.8rem;
  }
}
.inquiry-form .container .form .form-field {
  margin-bottom: 20px;
  padding: 0 10px;
}
@media screen and (max-width: 560px) {
  .inquiry-form .container .form .form-field {
    padding: 0;
  }
}
@media screen and (max-width: 400px) {
  .inquiry-form .container .form .form-field {
    padding: 0;
  }
}
.inquiry-form .container .form .form-field label {
  display: block;
  color: #333;
  margin-bottom: 5px;
}
.inquiry-form .container .form .form-field input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}
@media screen and (max-width: 560px) {
  .inquiry-form .container .form .form-field input {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .inquiry-form .container .form .form-field input {
    font-size: 0.6rem;
  }
}
.inquiry-form .container .form input[type=submit] {
  background-color: #0079bf;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
  width: 50%;
  max-width: 200px;
  text-align: center;
}
.inquiry-form .container .form input[type=submit]:hover {
  background-color: #005c92;
  transform: scale(1.05);
}

.site-footer {
  background: #333;
  color: white;
  padding: 80px 0;
}
.site-footer .copyright {
  font-size: 13px;
  text-align: center;
}
.site-footer .footer-content {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  text-align: center;
}
.site-footer .footer-content p {
  margin-right: 20px;
}
@media screen and (max-width: 560px) {
  .site-footer .footer-content p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 400px) {
  .site-footer .footer-content p {
    font-size: 0.8rem;
  }
}

.slide-in-text {
  animation: slide-in 1s ease-out forwards;
}

.slide-in-text-firsthalf {
  animation: slide-in 1.5s ease-out forwards;
  margin-top: 10px;
}

@keyframes slide-in {
  from {
    transform: translateX(-60%);
    opacity: 0;
  }
  to {
    transform: translateX(-30%);
    opacity: 1;
  }
}/*# sourceMappingURL=style.css.map */